* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}


.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.dashboard-title {
    font-size: 28px;
}

/*dodaj edytuj usun*/
.quick-actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.action-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.action-card:hover {
    transform: translateY(-5px);
}

.action-card div {
    font-size: 32px;
    color: #e74c3c;
    margin-bottom: 15px;
}

.action-card h3 {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.action-card p {
    color: #7f8c8d;
    font-size: 14px;
}

/*lista filmow*/
.list {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.section-title {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


.list-table {
    width: 100%;
    border-collapse: collapse;
}
.list-table th{
    background-color: #f8f9fa;
    color: #343a40;
    padding: 10px;
}
.list-table td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

/*solid kolumns*/
.list-table th,
.list-table td {
    width: 33%; /* solid kolumns */
    max-width: 300px; /* max widh */
    overflow: hidden; /* hide text when to long */
    text-overflow: ellipsis; /* if to long then (...)*/
    white-space: nowrap;
}

.list-table tr:hover {
    background-color: #f1f1f1;
}
.list-table th, .list-table td {
    text-align: center;
}
.list-table a {
    text-decoration: none;
    transition: color 0.2s;
}

/*pagination elements*/
.pagination {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    gap: 15px;
}

.pagination form {
    min-width: 50px;
    height: 36px;
    color: #2c3e50;
    font-size: 20px;
    white-space: nowrap;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pagination span {
    min-width: 50px;
    height: 36px;
    color: #2c3e50;
    font-size: 20px;
    white-space: nowrap;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pagination a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: #e9ecef;
    color: #2c3e50;
    text-decoration: none;
    font-size: 20px;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid #dee2e6;
}

