<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/navStyle.css" />
    <link rel="stylesheet" href="/dashboardStyle.css" />

</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="/admin/dashboard" class="active">🏠 Dashboard</a></li>
        <li><a href="/admin/movies/title/asc/0">🎬 Filmy</a></li>
        <li><a href="/admin/projections">🗓️ Repertuar</a></li>
        <li><a href="/admin/users">👥 Użytkownicy</a></li>
        <li><a href="/">🚪 Wyloguj się</a></li>
    </ul>
</nav>

<main>
    <div class="dashboard-header">
        <h1 class="dashboard-title">Panel administratora kina</h1>
    </div>

    <div class="stats-container">
        <div class="stat-card">
            <div class="stat-icon">🎟️</div>
            <div class="stat-value" th:text="${reservationCount}"/>
            <div class="stat-label">Dziś zakupione bilety</div>
        </div>
        <div class="stat-card">
            <div class="stat-icon">💰</div>
            <div class="stat-value" th:text="${#numbers.formatDecimal(totalIncome, 0, 'COMMA', 2, 'POINT')} + ' zł'"/>
            <div class="stat-label">Przychód</div>
        </div>
        <div class="stat-card">
            <div class="stat-icon">🎬</div>
            <div class="stat-value" th:text="${moviesCount}"/>
            <div class="stat-label">Aktywne filmy</div>
        </div>
        <div class="stat-card">
            <div class="stat-icon">📅</div>
            <div class="stat-value" th:text="${projectionCount}"/>
            <div class="stat-label">Dzisiejsze seanse</div>
        </div>
    </div>

    <div class="list">
        <h2 class="section-title">Ostatnie aktywności</h2>
        <table class="list-table">
            <thead>
            <tr>
                <th>Tytuł</th>
                <th>Gatunek</th>
                <th>Data premiery</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            </tbody>
        </table>
    </div>


</main>

</body>
</html>