<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Filmy</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/navStyle.css">
    <link rel="stylesheet" href="/moviesStyles.css">

</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="/admin/dashboard">🏠 Dashboard</a></li>
        <li><a href="/admin/movies" class="active">🎬 Filmy</a></li>
        <li><a href="/admin/projections">🗓️ Repertuar</a></li>
        <li><a href="/admin/reservations">🎟️ Bilety</a></li>
        <li><a href="/admin/users">👥 Użytkownicy</a></li>
        <li><a href="/">🚪 Wyloguj się</a></li>
    </ul>
</nav>

<main>
    <div class="dashboard-header">
        <h1 class="dashboard-title">Panel filmów</h1>
    </div>

    <div class="list-of-movies">
        <h2 class="section-title">Lista filmów</h2>
        <table class="movie-table">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Gatunek</th>
                    <th>Data premiery</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Avengers: Endgame</td>
                    <td>Akcja, Sci-Fi</td>
                    <td>2019-04-26</td>
                </tr>
                <tr>
                    <td>Dune: Part Two</td>
                    <td>Przygodowy, Sci-Fi</td>
                    <td>2023-11-03</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="quick-actions">
        <div class="action-card" onclick="window.location.href='/admin/movies/add'">
            <div>➕</div>
            <h3>Dodaj film</h3>
            <p>Dodaj nowy film do bazy danych kina</p>
        </div>
        <div class="action-card" onclick="window.location.href='/admin/projections/add'">
            <div>✏️</div>
            <h3>Edytuj film</h3>
            <p>Dodaj nowy seans filmowy do repertuaru</p>
        </div>
        <div class="action-card" onclick="window.location.href='/admin/reservations'">
            <div>➖</div>
            <h3>Usuń film</h3>
            <p>Sprawdź i zarządzaj rezerwacjami biletów</p>
        </div>
    </div>
</main>

</body>
</html>