<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Filmy</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/navStyle.css">
    <link rel="stylesheet" href="/moviesStyles.css">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="/admin/dashboard">🏠 Dashboard</a></li>
        <li><a href="/admin/movies/title/asc/0" class="active">🎬 Filmy</a></li>
        <li><a href="/admin/projections/movie.title/asc/0">🗓️ Repertuar</a></li>
        <li><a href="/admin/users/firstName/asc/0">👥 Użytkownicy</a></li>
        <li><a href="/logout">🚪 Wyloguj się</a></li>
    </ul>
</nav>

<main>
    <div class="dashboard-header">
        <h1 class="dashboard-title">Panel filmów</h1>
    </div>

    <div class="list">
        <h2 class="section-title">Lista filmów</h2>
        <table class="list-table">
            <thead>
            <tr>
                <th>
                    Tytuł
                    <a th:href="@{'/admin/movies/title/' + ${reverseSortDirection} + '/' + ${currentPage} }">⮃</a>
                </th>
                <th>
                    Reżyser
                    <a th:href="@{'/admin/movies/director/' + ${reverseSortDirection} + '/' + ${currentPage} }">⮃</a>
                </th>
                <th>
                    Opis
                    <a th:href="@{'/admin/movies/description/' + ${reverseSortDirection} + '/' + ${currentPage} }">⮃</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.director}"></td>
                <td th:text="${movie.description}"></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <span th:text="'Strona ' +${currentPage + 1} + ' z ' + ${totalPages}">1 of 1 pages</span>
            <a th:href="@{'/admin/movies/' + ${sortField} + '/' + ${sortDirection} + '/' + ${currentPage - 1}}"
               th:if="${currentPage > 0}">«</a>
            <a th:href="@{'/admin/movies/' + ${sortField} + '/' + ${sortDirection} + '/' + ${currentPage + 1}}"
               th:if="${currentPage + 1 < totalPages}">»</a>
        </div>
    </div>

    <div class="quick-actions">
        <div class="action-card" onclick="window.location.href='/admin/movies/add'">
            <div>➕</div>
            <h3>Dodaj film</h3>
            <p>Dodaj nowy film do bazy danych kina</p>
        </div>
        <div class="action-card" onclick="window.location.href='/admin/movies/update'">
            <div>✏️</div>
            <h3>Edytuj film</h3>
            <p>Edytuj film, który już istnieje</p>
        </div>
    </div>
</main>

</body>
</html>
