<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Seanse</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/navStyle.css">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="/admin/dashboard">🏠 Dashboard</a></li>
        <li><a href="/admin/movies">🎬 Filmy</a></li>
        <li><a href="/admin/projections" class="active">🗓️ Repertuar</a></li>
        <li><a href="/admin/reservations">🎟️ Bilety</a></li>
        <li><a href="/admin/users">👥 Użytkownicy</a></li>
        <li><a href="/">🚪 Wyloguj się</a></li>
    </ul>
</nav>

<main>
    <div class="dashboard-header">
        <h1 class="dashboard-title">Panel filmów</h1>
    </div>
</main>

</body>
</html>