<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Seanse</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/navStyle.css">
    <link rel="stylesheet" href="/projectionsStyles.css">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="/admin/dashboard">🏠 Dashboard</a></li>
        <li><a href="/admin/movies">🎬 Filmy</a></li>
        <li><a href="/admin/projections" class="active">🗓️ Repertuar</a></li>
        <li><a href="/admin/users">👥 Użytkownicy</a></li>
        <li><a href="/">🚪 Wyloguj się</a></li>
    </ul>
</nav>

<main>
    <div class="dashboard-header">
        <h1 class="dashboard-title">Panel Repertuarów</h1>
    </div>

    <div class="list">
        <h2 class="section-title">Lista dostępnych seansów</h2>
        <table class="list-table">
            <thead>
            <tr>
                <th>Tytuł filmu</th>
                <th>Data seansu</th>
                <th>Godzina rozpoczęcia</th>
                <th>Sala</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="projection : ${projections}">
                <td th:text="${projection.movie.title}">Tytuł filmu</td>
                <td th:text="${projection.date}">Data seansu</td>
                <td th:text="${projection.startTime}">Godzina</td>
                <td th:text="${projection.roomNumber}">Sala</td>
                <td>
                    <a th:href="@{'/admin/reservations?id=' + ${projection.id}}">Bilety</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="quick-actions">
        <div class="action-card" onclick="window.location.href='/admin/projections/add'">
            <div>➕</div>
            <h3>Dodaj seans</h3>
            <p>Dodaj nowy seans do bazy danych kina</p>
        </div>
        <div class="action-card" onclick="window.location.href='/admin/projections/edit'">
            <div>✏️</div>
            <h3>Edytuj seans</h3>
            <p>Edytuj wybrany seans</p>
        </div>
        <div class="action-card" onclick="window.location.href='/admin/projections/delete'">
            <div>➖</div>
            <h3>Usuń seans</h3>
            <p>Wybierz i usuń seans</p>
        </div>
    </div>
</main>

</body>
</html>