<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/navStyle.css">
    <link rel="stylesheet" href="/usersStyles.css">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="/admin/dashboard" >🏠 Dashboard</a></li>
        <li><a href="/admin/movies/title/asc/0">🎬 Filmy</a></li>
        <li><a href="/admin/projections/movie.title/asc/0">🗓️ Repertuar</a></li>
        <li><a href="/admin/users/firstName/asc/0" class="active">👥 Użytkownicy</a></li>
        <li><a href="/logout">🚪 Wyloguj się</a></li>
    </ul>
</nav>

<main>
    <div class="dashboard-header">
        <h1 class="dashboard-title">Panel uzytkowników</h1>
    </div>

    <div class="list">
        <h2 class="section-title">Lista użytkowników</h2>
        <table class="list-table">
            <thead>
            <tr>
                <th>
                    Imię
                    <a th:href="@{'/admin/users/firstName/' + ${reverseSortDirection} + '/' + ${currentPage} }">⮃</a>
                </th>
                <th>
                    Nazwisko
                    <a th:href="@{'/admin/users/surname/' + ${reverseSortDirection} + '/' + ${currentPage} }">⮃</a>
                </th>
                <th>
                    Email
                    <a th:href="@{'/admin/users/email/' + ${reverseSortDirection} + '/' + ${currentPage} }">⮃</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}">Imię</td>
                <td th:text="${user.surname}">Nazwisko</td>
                <td th:text="${user.email}">Email</td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <span th:text="'Strona ' + ${currentPage + 1} + ' z ' + ${totalPages}">1 of 1 pages</span>
            <a th:href="@{'/admin/users/' + ${sortField} + '/' + ${sortDirection} + '/' + ${currentPage - 1}}"
               th:if="${currentPage > 0}">«</a>
            <a th:href="@{'/admin/users/' + ${sortField} + '/' + ${sortDirection} + '/' + ${currentPage + 1}}"
               th:if="${currentPage + 1 < totalPages}">»</a>
        </div>
    </div>
</main>

</body>
</html>